preas/app/HwTriWebviewLib/HwTriWebviewLib.apk
hw_product.img
system/system/app/HnBrowserBd/HnBrowserBd.apk
system/system/priv-app/Settings/Settings.apk
system/system/priv-app/HnVideoEditor/HnVideoEditor.apk
